<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <experienceAnalytics>
            <api>
                <dimensions>
                    <dimension id="{988A1D00-9D00-4F05-97EC-DF3391F8CCE7}">
                        <transformer
                            type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.CountryDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api">
                            <patch:attribute name="type">Sitecore.Support.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.CountryDimensionKeyTransformer, Sitecore.Support.253023</patch:attribute>
                        </transformer>
                    </dimension>
                    <dimension id="{3D797C19-DD2D-4705-A7E4-578A2072168D}">
                        <transformer
                            type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.CountryDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api">
                            <patch:attribute name="type">Sitecore.Support.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.CountryDimensionKeyTransformer, Sitecore.Support.253023</patch:attribute>
                        </transformer>
                    </dimension>
                </dimensions>
            </api>
        </experienceAnalytics>
    </sitecore>
</configuration>